<h1>List of {{ model?.title }}</h1>

<md-card class="data-list">
  <md-pagination
    [model]="collection"
    [items-per-page-options]="itemsPerPageOptions"
    (on-pagination-change)="paginationChange($event)"></md-pagination>
  <md-data-table fullscreen>
    <thead>
    <tr>
      <th *ngFor="let property of properties">{{ property.label }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of collection?.members">
      <td *ngFor="let property of properties">{{ entity | property:property }}</td>
    </tr>
    </tbody>
  </md-data-table>
</md-card>
