@import "../../../core/style/default-theme";
@import "../../../core/style/theme-functions";

/// Reset

* { box-sizing: border-box; }

html { font-size: 62.5%; line-height: 1.3; }
body {
  margin: 0; padding: 0;
  font-size: 1em;

  -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;
}

blockquote p,td p,th p,li li,li p,li h1,li h2,li h3,li h4,li h5,li h6,button { font-size: 100%; }

button { display: inline; margin: 0; border: none; padding: 0; outline: none; cursor: pointer; }
a img { border: none; }

img { max-width: 100%; height: auto;}

hr { border: none; height: 1px; background-color: md-color($md-background, background); }
